<h2>Pipes <small>Angular</small></h2>
<hr>
<div class="row">
    <div class="col">
        <table class="table ">
            <thead class="thead-dark">
                <th>Variable</th>
                <th>PIPE</th>
                <th>Salida</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>

                <!-- Primer Pipe personalizado (capitalizado) -->
                <tr>
                    <td>{{nombreAlterno}}</td>
                    <td>capitalizado:true <small>(personalizado)</small></td>
                    <td>{{nombreAlterno | capitalizado:true}}</td>
                </tr>

                <tr>
                    <td>{{nombreAlterno}}</td>
                    <td>capitalizado:false <small>(personalizado)</small></td>
                    <td>{{nombreAlterno | capitalizado:false}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre | slice: 3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:4:9</td>
                    <td>{{nombre | slice:4:9}}</td>
                </tr>
                <tr>
                    <td>{{arrayPrueba}}</td>
                    <td>slice:4:9</td>
                    <td>{{arrayPrueba | slice:4:9}}</td>
                </tr>
                <tr>
                    <td>{{pi}}</td>
                    <td>Decimal</td>
                    <td>{{pi | number}}</td>
                </tr>
                <tr>
                    <td>{{pi}}</td>
                    <td>Decimal</td>
                    <td>{{pi | number:'3.0-5'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>Date</td>
                    <td>{{fecha | date:'shortDate'}}</td>
                </tr>
                <tr>
                    <td>{{precio}}</td>
                    <td>Currency</td>
                    <td>{{precio | currency:'EUR'}}</td>
                </tr>

                <!-- Segundo pipe personalizado (Password) -->
                <tr>
                    <td>{{nombre}}</td>
                    <td>Password <small>(personalizado)</small>
                        <br>
                        <button class="btn btn-primary" (click)="mostrar = !mostrar">Mostrar / Ocultar</button>
                    </td>
                    <td>{{nombre | password:mostrar}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arrayPrueba | slice : 2 : 6"> {{item}} </li>
        </ul>

    </div>
</div>

<h3>Dom Seguro</h3>
<hr>
<div class="row pb-5 mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="videoURL | domSeguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
