<h2>Pipes <small>Angular</small></h2>
<hr>
<div class="row">
    <div class="col">
        <table class="table ">
            <thead class="thead-dark">
                <th>Variable</th>
                <th>PIPE</th>
                <th>Salida</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre | slice: 3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:4:9</td>
                    <td>{{nombre | slice:4:9}}</td>
                </tr>
                <tr>
                    <td>{{arrayPrueba}}</td>
                    <td>slice:4:9</td>
                    <td>{{arrayPrueba | slice:4:9}}</td>
                </tr>
                <tr>
                    <td>{{pi}}</td>
                    <td>Decimal</td>
                    <td>{{pi | number}}</td>
                </tr>
                <tr>
                    <td>{{pi}}</td>
                    <td>Decimal</td>
                    <td>{{pi | number:'3.0-5'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>Date</td>
                    <td>{{fecha | date:'shortDate'}}</td>
                </tr>
                <tr>
                    <td>{{precio}}</td>
                    <td>Currency</td>
                    <td>{{precio | currency:'EUR'}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arrayPrueba | slice : 2 : 6"> {{item}} </li>
        </ul>

    </div>
</div>
